@charset "UTF-8";

.music {
 background: url(images/video/coverr-piano.jpg) fixed center no-repeat;
background-color: #181C40;
 background-size: cover;
	text-align: center;
}

.bench {
 background: url(images/violin.jpg) fixed center no-repeat;
background-color: #181C40;
 background-size: cover;
	text-align: center;
}

.cite {
	font-style: normal !important;
	
}
.media-types {
	padding: 50px;
	background-color: #C1BEBE;
}
.bg-secondary {
	background-color: #1B2640;
}


/* style for video 
 .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }

  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }

  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }

  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
	 z-index: 2;
  }

  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }

  .video-container video.fillWidth {
    width: 100%;
  }

/* custom styles for class project */


.white{
	color: #ffffff;
	font-weight: 600;
}
.thin {
  width: 95%;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

h3.slim, .h3 {
	font-size: 1.50rem;
	margin-top: 0;
	margin-bottom: 0.25rem;
}

.aboutgreg {
 background: url(images/Dc.jpg) fixed center no-repeat;
background-color: #181C40;
 background-size: cover;
}

.jumbo-h {
  padding: 15px 25px 15px 15px;
  background-color: #5E87E0;
  opacity: 0.2;
  filter: alpha(opacity=10); /* For IE8 and earlier */
}
.gbfooter {
	margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    background-color: #1B2640;
}

.gbfoot {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: 300;
	text-align: center;
	color: #ffffff;
	
}
