@charset "UTF-8";
.jumbotron {
    background-image: url('assets/components/design/video/Love-Coding.jpg');
    background-color: #0C8C8C;
    color: #fff;
}

.foot-icon {
    padding: 2em 2em 0 0;
    margin-bottom: 2em;
}
.foot-icon p {
    font-size: 1.112em;
}
ul {
   margin-left: 20px;
}
ul#persona {
   margin-bottom: 1.5em; 
}
ul#persona li {
   font-size: 1.313em;
   font-weight: 300;
   line-height: 1.4;
   color: default;
   padding-left: 1em;
   margin-bottom: .5em; 
}
p#thumbs {
    padding-top: 1.2em;
    padding-left: 1.15em;
    font-size: 1.18em;
    font-weight: 400;
}
/*--start process steps --*/
.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    margin:40px;
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
/*--end process steps --*/
/*--breadcrumb style yeah boy!--*/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** bread button **/
.btn-breadcrumb .btn.btn-bread:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-bread:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-bread:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-bread:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}
/** Breadcrumb style yeah boy! **/


.strategy {
    background-color : #f9f9f9;
    padding-bottom: 2em;
    }
.persona {
    padding-left: 10px;
    color: #fff;
}
#gb-hero {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#gb-hero img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
  max-height: 580px;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}
h1.title-container {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 3.9em;
  color: #fff;
}
.video-container .description .inner {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  width: 55%;
}
.inner {
    padding-top: 34px;
    margin-top: 7em;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

p.inner {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: normal;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}


h1.gbmain {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 3em;
    float: left;
    text-align: center;
}
p.gbmain {
    font-weight: 400;
    color: #ffffff;
    float: left;
    text-align: center;
}
.col-md-6 {
    margin-left: 10px;
}

@media (min-width: 992px){
    .title-container h2.title-container p.title-container .inner {
        width: 91.66666667%;
    }
.homepage-hero-module {
    max-height: 580px;
}
    .video-container {
      max-height: 580px;
    }
}
@media (min-width: 768px){
    .title-container h2.title-container p.title-container .inner{
        width: 85%;
    }
.jumbotron {
    background-image: url('assets/components/design/video/Love-Coding.jpg');
    background-color: #0C8C8C;
    border-right: none;
    border-left: none;
    position: relative;
}
.homepage-hero-module {
    max-height: 500px;
}
.video-container .filter {
    max-height: 500px;
    }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .title-container h2.title-container p.title-container .inner{
        width: 85%;
}
.homepage-hero-module {
    max-height: 500px;
}
  .video-container .filter{
  max-height: 500px;
}

@media screen
  and (device-width: 320px)
  and (device-height: 640px) {
.homepage-hero-module {
    max-height: 300px;
}
   .video-container .filter{
    max-height: 300px;
  }
}
@media (min-width: 992px)
.col-md-6 {
    width: 50%;
    margin-left: 10px;
}